@page
@model WebApplication4.Pages.PrivacidadeModel
@{
    Layout = "_Layout.cshtml";
}
<h2>Política de Privacidade</h2>
<p>
    Na Sua Loja de Computadores, valorizamos a privacidade dos nossos clientes.
    Todas as informações fornecidas durante a compra são tratadas de forma segura e confidencial.
    Nossa política de privacidade visa garantir a proteção dos dados dos nossos clientes.
</p>