@page
@model WebApplication4.Pages.QuemSomosModel
@{
    Layout = "_Layout.cshtml";
}
<h2>Quem Somos</h2>
<img src="~/Omni-Informatica_Apple-em-Curitiba.jpg" alt="Imagem Computadores" class="img-fluid">
<p>
    Bem-vindo à Sua Loja de Computadores! Somos especializados na venda de computadores de última geração.
    Com mais de 10 anos de experiência, oferecemos soluções tecnológicas para atender às suas necessidades.
    Explore nossa variedade de produtos e encontre o computador perfeito para você.
</p>
